* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 15.4px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

header .header-title, footer .footer-text {
    padding: 38px 5px 24px;
    width: 900px;
    justify-content: left;
    font-weight: medium;
}

.main-link > a {

    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.main-link > a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.branch {
    margin-bottom: 50px;
}

.branch-header-wrap, .single-project-header-wrap {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 48px 5px 47px;
}
.single-project-header-wrap.vacancies {
    padding: 39px 0px;
}

.single-project-header-wrap.vacancies h2.single-project-subheader {
    padding: 0;
}

.branch-header, .single-project-header {
    max-width: 900px;
    margin: 0 auto;
}

.branch-header .branch-naming,
.branch-info,
.branch-description,
.single-project-header,
.single-project-info,
.project-naming,
.project-manager-info,
.project-participants {
    line-height: 22px;
    font-size: 14.8px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.branch-header h1.branch-name {
  font-family: Rubik;
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
  color: #4b94ea;
  padding: 2px 0 22px;
}

.branch-description{
    padding-bottom: 23px;
}

.branch-info {
    padding-bottom: 5px;
}

.branch-header .branch-info {
    font-size: 16.8px;
}

.branch-info span.info-description {
    color: rgba(0, 0, 0, 0.5)
}

.branch-projects {
    padding: 14px 0;
}

.project-wrap {
    position:relative;
    margin: 60px 0 34px;
}

.project, .single-project-content {
    max-width: 910px;
    margin: 0 auto;
    padding: 0px 5px;
    background-color: #fff;
}

.project-naming{
    padding-top: 11px;
}

h1.project-name{
    padding: 5px 0 8px;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.7);
    width: 75%
}

h1.project-name > a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

h1.project-name > a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}


.project-branch-name {
    font-size: 17.4px;
    line-height: 22px;
    font-weight: 500;
    color: #4b94ea;
}

.project-manager {
    padding: 4px 0 27px;
}

.project .project-manager .project-manager-info {
    padding-top: 5px;
    font-size: 16.4px;
}

.project .project-manager .project-info span.info-description {
    font-size: 14.8px;
}


.project-description {
    font-size: 17.4px;
    font-weight: normal;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
}

.project-description > a.details {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15.8px;
    font-weight: 500;
}

.project-description > a.details:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15.8px;
    font-weight: 500;
}

.project-participants {
    padding:28px 0 0;
}

.project-participants-header {
    padding-bottom: 2px;
}

.project-participants .project-participants-roles{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

}

.project-participants-roles > .project-participant-info {
    font-size: 15.4px;
    padding-bottom: 6px;
    flex:1 1 440px;

}

.project-participants .project-participant-info span.role-name,
.project-vacancy-info .vacancy-description-name {
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}

.single-project-info.additional {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13.4px;
    padding: 6px 0;
}

.single-project-info.additional b{
    color: rgba(0, 0, 0, 0.7);
}


.single-project-header .single-project-info .role-wanted,
.project-participants .project-participant-info span.role-wanted,
.vacancy-name .role-wanted {
    color: #f07469;
    font-weight: 500;
}

.vacancy-name .role-wanted {
    font-size: 15.3px;
    line-height: 22px;
    margin-left: 8px;
}

.single-project-content {
    padding: 48px 0 25px;
}

.single-project-subheader {
    padding-bottom:18px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20.4px;
    font-weight: bold;

}
.single-project-description {
    padding-bottom:38px;
    font-size: 15.8px;
    line-height: 1.77;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.8);
}

.single-project .project-branch-name {
    padding-bottom:26px;
}

.single-project .project-participants {
    padding-bottom: 60px;
}

.single-project-vacancies {
    padding-top:10px;
}

.vacancy-description-name {
    padding: 16px 0 6px
}

.project-vacancy-info .role-description {
    font-size: 14.8px;
    line-height: 20px;
}

.vacancy-name .role-name {
    color: rgba(0, 0, 0, 0.7);
    font-size: 17.6px;
    line-height: 22px;
    font-weight: bold;
}

a.button {
    display: block;
    height: 34px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px #000000;
    text-decoration: none;
}

a.button > span {
    display: block;
    margin: 0 auto;
    padding: 7px 0;
    height: 18px;
    font-family: Rubik;
    font-size: 15.4px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

a.button:hover{
    background-color: rgba(0, 0, 0, 0.04);;
}

a.button:hover > span{
    color: rgba(0, 0, 0, 0.8);
}

.project-role-vacancy {
    padding: 26px 0 50px;
}

.project-role-vacancy > a.button {
    width: 202px;
}

.project-role-vacancy > a.button > span {
    width: 176px;
}

.project-manager-vacancy {
    padding: 16px 0 6px;
}

.project-manager-vacancy > a.button {
    width: 258px;
}

.project-manager-vacancy > a.button > span {
    width: 234px;
}
