<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Центр проектной деятельности ДВФУ{% endblock %}</title>
    {% load static %}
    <link rel='stylesheet' href="{% static '/css/main.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
    {% block custom_head %}{% endblock %}
</head>
<body>
    <header>
        <div class="header-title">
            {% block main_link %}
            <div class="main-link">
                <a href="/">Центр проектной деятельности ДВФУ</a>
            </div>
            {% endblock %}
            <!--<div class="menu">-->
                <!--<div class="new-project-application">-->
                    <!--<a class="button" href="https://goo.gl/forms/pLLpL7P3JQdDRWcU2">-->
                        <!--<span>Предложить проект</span>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="vk"><a href="https://vk.com/cpddvfu"></a></div>-->
                <!--<div class="about"><a href="https://www.dvfu.ru/centre_of_project_activities/">О центре</a></div>-->
            <!--</div>-->
        </div>
    </header>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
    <footer>
        <div class="footer-text">
        По всем вопросам обращайтесь к руководителю Центра - Станиславу Карпенко, karpenko.so@dvfu.ru
        </div>
    </footer>
</body>
</html>