{% extends "base/base.html" %}
{% block custom_head %}
    <script>
    var manager_form_base = "https://docs.google.com/forms/d/e/1FAIpQLSfZ8FndCzSpNsfFKApA4T6GdO7ObOrYP6W6DpcdMwC1P440lw/viewform?usp=pp_url&entry.291185379=";
    window.onload = function() {
        var manager_vacancies = document.getElementsByClassName("project-manager-vacancy");
        for(var i = 0; i < manager_vacancies.length; i++) {
            var proj_name_div = manager_vacancies.item(i).closest('.project').getElementsByClassName("project-name").item(0);
            var proj_name = proj_name_div.firstChild.innerText;
            var form_ref = manager_vacancies.item(i).getElementsByClassName("button")[0];
            form_ref.href = manager_form_base + proj_name;
        }
    };
    </script>
{% endblock %}

{% block main_link %}
    <span>Центр проектной деятельности ДВФУ</span>
{% endblock %}

{% block content %}
    {% for branch in branches %}
        {% if branch.is_hidden == False %}
            <div class="branch">
                <div class="branch-header-wrap">
                    <div class="branch-header">
                        <div class="branch-naming">НАПРАВЛЕНИЕ</div>
                        <h1 class="branch-name">{{ branch.name }}</h1>
                        <div class="branch-description">{{ branch.short_description }}</div>
                        <div class="branch-info">
                            <span class="info-description">РУКОВОДИТЕЛЬ НАПРАВЛЕНИЯ:</span> {{ branch.manager.user.first_name }} {{ branch.manager.user.last_name }}
                        </div>
                        <div class="branch-info">
                            <span class="info-description">EMAIL:</span> {{branch.manager.user.email}}
                        </div>
                    </div>
                </div>
                <div class="branch-projects">
            {% for project in branch.projects.all|dictsort:"name" %}
                {% if project.is_hidden == False %}
                    <div class="project-wrap">
                        <div class="project">
                            <div class="project-naming">ПРОЕКТ</div>
                            <h1 class="project-name"><a href="/projects/{{project.pk}}">{{ project.name }}</a></h1>
                            <div class="project-branch-name">{{ branch.name }}</div>
                            {% if project.project_manager %}
                                {% with project.project_manager as pm %}
                                <div class="project-manager">
                                   {% if pm.user != None %}
                                        <div class="project-manager-info">
                                            <span class="info-description">РУКОВОДИТЕЛЬ ПРОЕКТА:</span> {{ pm.user.first_name }} {{ pm.user.last_name }}
                                        </div>
                                        <div class="project-manager-info">
                                            <span class="info-description">EMAIL:</span> {{ pm.user.email }}
                                        </div>
                                    {% elif pm.user_name_text %}
                                        <div class="project-manager-info">
                                            <span class="info-description">РУКОВОДИТЕЛЬ ПРОЕКТА:</span> {{ pm.user_name_text }}
                                        </div>
                                        <div class="project-manager-info">
                                            <span class="info-description">EMAIL:</span> {{ pm.user_email_text }}
                                        </div>
                                    {% elif pm.is_vacant %}
                                        <div class="project-manager-info">
                                            <span class="info-description">РУКОВОДИТЕЛЬ ПРОЕКТА:</span>
                                            <span class="role-wanted"> Требуется</span>
                                        </div>
                                        <div class="project-manager-vacancy">
                                            <a class="button" href=""><span>Стать руководителем проекта</span></a>
                                        </div>
                                    {% endif %}
                                </div>
                                {% endwith %}
                            {% endif %}
                            <div class="project-description">{{ project.short_description }}
                                <a class="details" href="/projects/{{project.pk}}">Подробнее ➜</a>
                            </div>
                            <div class="project-participants">
                                <div class="project-participants-header">РОЛИ В ПРОЕКТЕ</div>
                                <div class="project-participants-roles">
                                {% for role_in_project in project.roles_in_project.all %}
                                    <div class="project-participant-info">
                                        <span class="role-name">{{ role_in_project.role.name }}:</span>
                                        {% if role_in_project.user != None %}
                                            {{ role_in_project.user.first_name }} {{ role_in_project.user.last_name }}
                                        {% elif role_in_project.user_name_text %}
                                            {{ role_in_project.user_name_text }}
                                        {% else %}
                                            <span class="role-wanted"> Требуется</span>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}