{% extends "base/base.html" %}
    {% block custom_head %}
        {% if project.is_hidden == False %}
            <script>
            var student_form_base = "https://docs.google.com/forms/d/e/1FAIpQLScKlvKUQ0cM-mB_JMp9gV_svuhHuAS9sKRuvGfiaSdAVca1Dg/viewform?usp=pp_url&"
            var manager_form_base = "https://docs.google.com/forms/d/e/1FAIpQLSfZ8FndCzSpNsfFKApA4T6GdO7ObOrYP6W6DpcdMwC1P440lw/viewform?usp=pp_url&entry.291185379=";
            var proj_name = encodeURI("{{ project.name }}");
            window.onload = function() {
                var roles = document.getElementsByClassName("project-vacancy-info");
                for(var i = 0; i < roles.length; i++)
                {
                    if (roles.item(i).getElementsByClassName("role-wanted").length > 0) {
                        var role_name = roles.item(i).getElementsByClassName("role-name").item(0).innerHTML.slice(0, -1);
                        var form_ref = roles.item(i).getElementsByClassName("button").item(0);
                        form_ref.href = student_form_base + "entry.442773097=" + proj_name + "&entry.1490364711=" + role_name
                    }
                }
                var manager_vacancies = document.getElementsByClassName("project-manager-vacancy");
                if (manager_vacancies.length > 0) {
                    var manager_vacancy = manager_vacancies.item(0);
                    var form_ref = manager_vacancy.getElementsByClassName("button").item(0);
                    form_ref.href = manager_form_base + proj_name;
                }
            };
            </script>
        {% endif %}
    {% endblock %}
    {% block title %}
        {% if project.is_hidden == False %}
            {{project.name}}
        {% endif %}
    {% endblock %}
    {% block content %}
    {% if project.is_hidden == True %}
        Это страница 403 {# TODO: редирект #}
    {% else %}
    <div class="single-project">
        <div class="single-project-header-wrap">
            <div class="single-project-header">
                <div class="project-naming">ПРОЕКТ</div>
                <h1 class="project-name">{{ project.name }}</h1>
                <div class="project-branch-name">{{ project.branch.name }}</div>
                {% if project.project_manager %}
                    {% with project.project_manager as pm %}
                        {% if pm.user != None %}
                            <div class="single-project-info">
                                <span class="info-description">РУКОВОДИТЕЛЬ ПРОЕКТА:</span> {{ pm.user.first_name }} {{ pm.user.last_name }}
                            </div>
                            <div class="single-project-info">
                                <span class="info-description">EMAIL:</span> {{ pm.user.email }}
                            </div>
                        {% elif pm.user_name_text %}
                            <div class="single-project-info">
                                <span class="info-description">РУКОВОДИТЕЛЬ ПРОЕКТА:</span> {{ pm.user_name_text }}
                            </div>
                            <div class="single-project-info">
                                <span class="info-description">EMAIL:</span> {{ pm.user_email_text }}
                            </div>
                        {% elif pm.is_vacant %}
                            <div class="single-project-info">
                                <span class="info-description">РУКОВОДИТЕЛЬ ПРОЕКТА:</span>
                                <span class="role-wanted"> Требуется</span>
                            </div>
                            <div class="project-manager-vacancy">
                                <a class="button" href=""><span>Стать руководителем проекта</span></a>
                            </div>
                            <div class="single-project-info additional">
                                <div><b>Особые требования:</b> {{ pm.vacancy_description }}</div>
                            </div>
                        {% endif %}

                    {% endwith %}
                {% endif %}
            </div>
        </div>
        <div class="single-project-content">

            <div class="single-project-description">{{ project.short_description }}</div>
            <h2 class="single-project-subheader">Проблемная область</h2>
            <div class="single-project-description">{{ project.full_description }}</div>
            <h2 class="single-project-subheader">Конечный продукт</h2>
            <div class="single-project-description">{{ project.end_product }}</div>

            {% if participants %}
            <div class="project-participants">
                <h2 class="single-project-subheader">Участники проекта</h2>
                <div class="project-participants-roles">
                {% for role_in_project in participants %}
                    <div class="project-participant-info">
                        {% if role_in_project.user != None %}
                            <span class="role-name">{{ role_in_project.role.name }}:</span>
                            {{ role_in_project.user.first_name }} {{ role_in_project.user.last_name }}
                        {% elif role_in_project.user_name_text %}
                            <span class="role-name">{{ role_in_project.role.name }}:</span>
                            {{ role_in_project.user_name_text }}
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            </div>
            {% if vacancies %}
            <div class="single-project-header-wrap vacancies">
                <div class="single-project-header">
                    <div class="single-project-vacancies">
                        <h2 class="single-project-subheader">Вакансии для студентов</h2>
                    </div>
                </div>
            </div>
            <div class="single-project-content">
                {% for role_in_project in vacancies %}
                    <div class="project-vacancy-info">
                        <div class="vacancy-name">
                            <span class="role-name">{{ role_in_project.role.name }}:</span>
                            <span class="role-wanted"> Требуется</span>
                        </div>
                        <div>
                            <div class="vacancy-description-name">Требования</div>
                            {% if role_in_project.prerequisites != None %}
                            <div class="role-description">{{ role_in_project.prerequisites }}</div>
                             {% endif %}

                        </div>
                        <div>
                            <div class="vacancy-description-name">Содержание работы</div>
                            {% if role_in_project.description  != None %}
                            <div class="role-description">{{ role_in_project.description }}</div>
                             {% endif %}
                        </div>
                        <div class="project-role-vacancy">
                            <a class="button" href=""><span>Участвовать в проекте</span></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endblock %}
